* {
  margin: 0;
  box-sizing: border-box;
}
.toDoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-container {
  background: azure;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 10%;
  padding: 2rem;
}
.heading,
.addItems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.heading h1 {
  font-size: 3rem;
}
.addItems input,
.fa-solid {
  font-size: 2rem;
  cursor: pointer;
}

.fa-solid {
  margin: 5px;
}
.fa-solid:hover {
  color: black;
  cursor: pointer;
}
.addItems input {
  font-size: 2rem;
  outline: none;
  background: none;
  border: none;
  border: transparent;
  border-bottom: 2px solid;
}

.showItems {
  margin-top: 3%;
}
.itemList {
  display: flex;
  margin: 2px;
  padding: 3px;
  /* background: beige; */
  width: 30rem;
}
.itemList:hover {
  background-color: #0056b3;
  transition: 0.5s ease-in-out;
  color: white;
}
.itemList h3 {
  margin: 0px;
  width: 28rem;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.btn {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #0056b3;
}

/* .btn span:hover {
  opacity: 0;
} */
.btn::after {
  content: attr(data-sm-link-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}
.btn:hover::after {
  opacity: 0;
}
